.activity {
  padding-top: 80px;
}

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.activity-title {
  font-family: var(--heading-text-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
  color: var(--feedback-divider-color);
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 426px) {
  .activity-title {
    font-size: 26px;
    line-height: 36px;
  }
}