/* stylelint-disable selector-class-pattern */
@font-face {
    font-family: Header-title-font;
    src: url('../../../assets/fonts/Inter/static/Inter-Medium.ttf');
}

@font-face {
    font-family: Select-font;
    src: url('../../../assets/fonts/Fixel/FixelText/FixelText-Medium.ttf');
}

@font-face {
    font-family: Nav-font;
    src: url('../../../assets/fonts/Fixel/FixelText/FixelText-Medium.ttf');
}

/* HEADER */
.headerWrapper {
    background: var(--bg-primary-color);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1140px;

    margin: 0 auto;
    padding: 20px 0 20px 0;

    text-align: center;
}

.headerTitle {
    width: 580px;

    color: var(--header-secondary-bg-color);

    font-family: var(--name-organization-font-family);
    font-size: var(--name-organization-font-size);
    font-weight: 500;

    line-height: var(--name-organization-line-height);
}

.selectWrapper {
    position: relative;
}

.selectWrapper::before {
    position: absolute;
    top: 53%;
    right: 70px;

    display: block;

    width: 28px;
    height: 28px;

    content: '';

    transform: translateY(-50%);

    pointer-events: none;

    background-image: url('./HeaderUpper/earth-lang.svg');
    background-repeat: no-repeat;
}

.selectWrapper::after {
    position: absolute;
    top: 50%;
    right: 15px;

    display: block;

    width: 12px;
    height: 6px;

    content: '';

    transform: translateY(-50%);

    pointer-events: none;

    background-image: url('./HeaderUpper/arrow.svg');
    background-repeat: no-repeat;
}

.langSelect {
    width: 110px;
    height: 40px;

    padding: 8px 10.5px 8px 16px;

    appearance: none;

    cursor: pointer;

    color: var(--button-text-color);

    border: none;
    border-color: var(--button-pressing-bg-color);
    border-radius: var(--button-border-radius);

    outline: none;

    background-color: var(--button-hover-bg-color);

    font-family: var(--body-text-font-family);
    font-size: var(--select-lang-font-size);
    line-height: 29.9px;
    font-weight: 500;
}

.langSelect:hover {
    background-color: var(--button-default-bg-color);
}

.langSelect option {
    color: var(--button-default-bg-color);

    background-color: #fff;
    text-align: center;
}

/* NAV */

.navWrapper {
    width: 100%;

    margin: 0 auto;
    padding: 13px 0 13px 0;

    background: var(--header-secondary-bg-color);
}

.navBtnWrapper {
    display: flex;
    align-items: center;

    justify-content: space-between;

    max-width: 1140px;
    margin: 0 auto;
}

.navBtn {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 0;

    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    color: var(--button-text-color);
    border: none;
    outline: none;
    background: none;
}

.navBtn:hover {
    transform: scale(1.1);
}

.navBtnText {
    margin-top: 3px;

    font-family: var(--header-text-font-family);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
}