/* stylelint-disable selector-class-pattern */
@font-face {
    font-family: Header-title-font;
    src: url('../../../assets/fonts/Inter/static/Inter-Medium.ttf');
}

@font-face {
    font-family: Select-font;
    src: url('../../../assets/fonts/Fixel/FixelText/FixelText-Medium.ttf');
}

@font-face {
    font-family: Nav-font;
    src: url('../../../assets/fonts/Fixel/FixelText/FixelText-Medium.ttf');
}

/* HEADER */
.headerWrapper {
    background: var(--bg-primary-color);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1140px;

    margin: 0 auto;
    padding: 20px 0 20px 0;

    text-align: center;
}

.headerTitle {
    width: 580px;

    color: var(--header-secondary-bg-color);

    font-family: var(--name-organization-font-family);
    font-size: var(--name-organization-font-size);
    font-weight: 500;

    line-height: var(--name-organization-line-height);
}

/* NAV */

.navWrapper {
    width: 100%;

    margin: 0 auto;
    padding: 13px 0 13px 0;

    background: var(--header-secondary-bg-color);
}

.navBtnWrapper {
    display: flex;
    align-items: center;

    justify-content: space-between;

    max-width: 1140px;
    margin: 0 auto;
}

.navBtn {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 0;

    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    color: var(--button-text-color);
    border: none;
    outline: none;
    background: none;
}

.navBtn:hover {
    transform: scale(1.1);
}

.navBtnText {
    margin-top: 3px;

    font-family: var(--header-text-font-family);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .headerWrapper {
        background: var(--bg-primary-color);
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .header {
        margin: 0 auto;
        padding: 10px 15px;
    }

    .logoWrapper {
        width: 66px;
    }

    .headerTitle {
        font-size: 9px;
        line-height: 10.89px;
        width: 173px;
    }

    .burger {
        width: 30px;
        height: 20px;
        position: relative;
    }

    .burger span {
        position: absolute;
        width: 30px;
        background-color: var(--header-secondary-bg-color);
        height: 3px;
        top: 9px;
        border-radius: 50px;
        right: 0;
    }

    .burger::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        top: 0;
        right: 0;
        background-color: var(--header-secondary-bg-color);
        border-radius: 50px;
    }

    .burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        bottom: 0;
        right: 0;
        background-color: var(--header-secondary-bg-color);
        border-radius: 50px;
    }

    .headerLanguage {
        position: absolute;
        z-index: 9999;
    }

    .close {
        position: absolute;
        top: 21px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-image: url('./HeaderNav/close.svg');
    }

    .navWrapper {
        width: 100%;
        flex-direction: column;

        margin: 0 auto;
        padding: 75px 16px 13px 16px;

        background: #fff;
        position: absolute;
        top: 0;

        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    .navBtnWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;

        max-width: 1140px;
        margin: 0 auto;

        gap: 40px;
        border-top: 2px solid black;
        padding-top: 20px;
    }

    .navBtn {
        display: flex;
        align-items: center;
        gap: 4px;

        padding: 0;

        color: var(--text-primary-color);
        border: none;
        outline: none;
        background: none;
    }

    .navBtnText {
        margin-top: 3px;

        font-family: var(--header-text-font-family);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        font-weight: 600;
    }
}