.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.footer-phones li,
.footer-email {
  font-size: var(--footer-font-size);
  font-family: var(--footer-text-font-family);
  color: var(--footer-primary-text-color);
  line-height: var(--footer-line-height);
}

.footer-phones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.footer-phones li, .footer-email {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.1s ease-in-out;
}

.footer-email {
  align-items: flex-start;
  width: 142px;
  max-width: 100%;
}

.footer-phones li:hover, .footer-email:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.notification {
  position: absolute;
  bottom: 200px;
  right: -55px;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--button-hover-bg-color);
  color: #fff;
  border-radius: 14px;
  z-index: 9999;
  animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}