.hero {
  background-image: url('../../assets/img/hero/slider.png');
  background-size: cover;
  background-position-y: 55%;
  /* padding-top: 161px; */
  margin-top: 159px;
}

.heroWrapper {
  padding: var(--section-padding-primary);
  padding-bottom: 40px;
}

.heroTitle {
  color: #fff;
  font-family: var(--heading-text-font-family);
  font-size: var(--h1-font-size);
  font-weight: 600;
  line-height: var(--h1-line-height);
  margin-bottom: 12px;
}

.heroTitleDescription {
  color: #fff;
  font-family: var(--heading-text-font-family);
  font-size: var(--h6-font-size);
  font-weight: 600;
  line-height: var(--h6-line-height);

  margin-bottom: 40px;
  margin-top: 0;
}

.heroBtn {
  padding: 12px 44px;
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  margin-bottom: 80px;
}

.hotlineWrapper {
  position: relative;

  text-align: center;
  margin-bottom: 40px;
}

.hotlineTitle {
  color: #fff;
  font-family: var(--heading-text-font-family);
  font-size: var(--h6-font-size);
  font-weight: 600;
  line-height: 34.5px;
  margin: 0 0 16px 0;
}

.hotlinePhonesWrapper {
  display: flex;
  justify-content: space-around;
  gap: 60px;

  background-color: #F2F7FFB2;
  border-radius: 14px;

  margin-bottom: 40px;
}

.hotlinePhone {
  display: flex;
  align-items: flex-end;

  height: 38px;

  font-size: 25px;
  font-weight: 500;
  line-height: 34.44px;

  color: #1E1F20;
}

.hotlinePhone:hover {
  cursor: pointer;
  color: var(--phone-hover-text-color);
  transition: all .3s ease;
}

.hotlinePhone:active {
  color: var(--phone-pressing-text-color);
}

@keyframes slide-top {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 25%;
  }

  50% {
    transform: translateY(-20px) translateX(-50%);
  }

  100% {
    transform: translateY(-10px) translateX(-50%);
  }
}

.notification {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--header-secondary-bg-color);
  color: #fff;
  border-radius: 14px;
  z-index: 9999;
  animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.contactWrapper {
  display: flex;
  justify-content: space-between;
}

.contactItem {
  background-color: #F2F7FFCC;
  border-radius: 14px;
  padding: 20px 25px;
}

.contactTitle {
  color: #1E1F20;
  font-family: var(--heading-text-font-family);
  font-size: var(--h5-font-size);
  font-weight: 600;
  line-height: var(--h5-line-height);
  margin: 0;
  padding-bottom: 7px;
}

.contactText {
  color: #1E1F20;
  font-family: var(--body-text-font-family);
  font-size: var(--body2-font-size);
  font-weight: 500;
  line-height: var(--body2-line-height);
  margin: 0;
  padding-bottom: 20px;

  width: 220px;
}

.contactBtn {
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding: 12px 19.5px;
}