.address {
  padding-top: 80px;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
  color: var(--feedback-divider-color);
  margin-bottom: 40px;
  text-align: center;
}

.address-map-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 73px;
  width: 100%;
}

.address-inputs {
  display: flex;
  flex-direction: column;
  width: 26.7%;
}

.select-city-wrapper, 
.select-address-wrapper {
  position: relative;
}

.select-city-wrapper {
  z-index: 20;
  margin-bottom: 20px;
}

.select-city-wrapper label, 
.select-address-wrapper label {
  display: none;
}

.select-city-wrapper::after, 
.select-address-wrapper::after {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('./arrow-down.svg');
  background-repeat: no-repeat;
  top: 14px;
  right: 16px;
  transition: transform 1s ease;
}

.select-city-wrapper.open::after,
.select-address-wrapper.open::after {
  display: block;
  position: absolute;
  top: 14px;
  right: 16px;
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.select-city-wrapper.open label,
.select-address-wrapper.open label {
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.address-select {
  padding: 16px 42px 16px 24px;
  max-width: 285px;
  width: 100%;
  font-size: var(--body3-font-size);
  font-weight: 400;
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  background: var(--bg-primary-color);  
  cursor: pointer;
}

.select-city-wrapper.open .address-select-inputs, 
.select-address-wrapper.open .address-select-inputs{
  position: absolute;
  border-radius: 14px;
  border: 1px solid #b8b8b8;
  background: white;
  width: 100%;
  top: 60px;
  right: 0;  
  overflow-y: auto;
}

.select-city-wrapper.open .address-select-inputs {
  z-index: 20;
  max-height: 324px;
}

.select-address-wrapper.open .address-select-inputs {
  z-index: 15;
  max-height: 318px;
}

.select-title {
  white-space: nowrap;
  overflow: hidden;
}

.select-city-wrapper.open .address-select-inputs label:hover,
.select-address-wrapper.open .address-select-inputs label:hover {
  background-color: rgba(0, 87, 183, 0.20);
  border-radius: 14px;
}

.select-city-wrapper label,
.select-address-wrapper label {
  padding: 12px 12px;
}

.select-city-wrapper label img,
.select-address-wrapper label img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.select-city-wrapper .address-select-inputs label input, 
.select-address-wrapper .address-select-inputs label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: transparent; 
  /* background-color: transparent; */
}

.address-select-city {
  margin-bottom: 21px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.address-select-address {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.address-map {
  width: 65.79%;
  max-height: 310px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.address-map iframe {
  width: 100%;
}

@media (max-width: 1120px) {
  .address-map-wrapper {
    padding-left: 0;
  }
}

@media (max-width: 769px) {
  .address-map-wrapper {
    flex-direction: column;
  }

  .address-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }

  .select-city-wrapper {
    margin: 0;
  }

  .address-map {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .address-select {
    width: 48%;
  }
}

@media (max-width: 426px) {
  .address-title {
    font-size: 26px;
    line-height: 36px;
  }

  .address-inputs {
    flex-direction: column;
  }

  .address-select {
    width: 100%;
    max-width: 328px;
  }

  .select-city-wrapper {
    margin-bottom: 20px;
  }
}