.showModal.one {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 70px;
    left: 80px;
}

.showModal.two {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 50px;
    left: 55px;
}

.showModal.three {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 70px;
    left: 50px;
}

.showModal.four {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 30px;
    left: 70px;
}

.showModal.five {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 50px;
    left: 55px;
}

.showModal.six {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 65px;
    left: 50px;
}

.showModal.seven {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 25px;
    left: 65px;
}

.showModal.eight {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 25px;
    left: 45px;
}

.showModal.nine {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 55px;
    left: 35px;
}

.showModal.ten {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 50px;
    left: 25px;
}

.showModal.eleven {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 60px;
    left: 15px;
}

.showModal.twelve {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 55px;
    left: 80px;
}

.showModal.thirteen {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 67px;
    left: 60px;
}

.showModal.fourteen {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 50px;
    left: 45px;
}

@media screen and (max-width:1023px) {
    .showModal {
        display: none;
    }
}