.not-found-page {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100%;
}

.not-found-page-container {
  flex-direction: column;
  padding: 20px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.not-found-page-img-wrapper {
  width: 60%;
  margin-bottom: 12px;
}

.not-found-page-img-wrapper img {
  width: 100%;
}

.btn-on-main {
  padding: 6px 16px;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  width: 267px;
}
