.phones-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.phones-list li {
  display: flex;
  gap: 7px;
  align-items: center;
}

.phones-list img {
  padding: 0 0 5px 0;
}


.phones-list li:hover {
  cursor: pointer;
  color: var(--phone-hover-text-color);
  transition: all .3s ease;
}

.phones-list li:active {
  color: var(--phone-pressing-text-color);
}

.phones-list li p {
  font-family: var(--body-text-font-family);
  font-size: var(--body1-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body1-line-height);
  width: 100%;
  max-width: 220px;
}

.notification {
  position: absolute;
  bottom: 42%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--button-hover-bg-color);
  color: #fff;
  border-radius: 14px;
  z-index: 9999;
  animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (min-width: 520px) and (max-width: 790px) {
  .phones-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
  }
}
