.footer-bg {
  padding: var(--footer-padding-primary);
  background-color: var(--footer-primary-bg-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.footer-logo {
  width: 93px;
  height: 79px;
}

.footer-org-name {
  width: 170px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-primary-text-color);
  font-family: var(--name-organization-font-family);
  font-size: var(--name-organization-footer-font-size);
}

.footer-payment {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 300px;
  max-width: 100%;
}

.payment-items {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer-button {
  padding: 12px 47px;
  font-size: var(--button-font-size);
  align-self: center;
}

.footer-docs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer-docs li,
.footer-contacts li {
  font-size: var(--footer-font-size);
  font-family: var(--footer-text-font-family);
  color: var(--footer-primary-text-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}

.footer-contacts li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-contacts li:last-child {
  align-items: flex-start;
}

.footer-copywriter {
  color: var(--footer-primary-text-color);
}
