.footer-bg {
  padding: var(--footer-padding-primary);
  background-color: var(--footer-primary-bg-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.footer-logo {
  width: 93px;
  height: 79px;
}

.footer-org-name {
  width: 170px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-primary-text-color);
  font-family: var(--name-organization-font-family);
  font-size: var(--name-organization-footer-font-size);
}

.footer-copywriter {
  color: var(--footer-primary-text-color);
}
