.gallery {
  padding: var(--section-padding-primary);
  flex-grow: 1;
  flex-direction: column;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  font-family: semibold, sans-serif;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
  margin-bottom: 40px;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}
