.feedback {
  padding: var(--section-padding-primary);
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feedback-title,
.feedback-subtitle {
  font-family: var(--body-text-font-family);
  font-size: var(--h2-font-size);
  color: var(--text-primary-color);
  font-style: normal;
  font-weight: 600;
  line-height: var(--h2-line-height);
  text-align: center;
}

.feedback-subtitle {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  align-self: flex-start;
}

.feedback-content-wrapper {
  display: flex;
  justify-content: center;
}

.feedback-form-wrapper {
  width: 585px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 23px 0 101px;
  border-right: 1px solid var(--feedback-divider-color);
}

.feedback-phones-wrapper {
  width: 555px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 0 73px;
}