.support-accordions {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 558px;
  gap: 24px;
}

.accordion-header {
  width: 100%;
  max-width: 558px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 28px 24px;
  background-color: #fd0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.accordion-title {
  color: var(--text-primary-color);
  font-family: var(--heading-text-font-family);
  font-size: var(--h4-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--h4-line-height);
}

.accordion-arrow-transform {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-arrow-back {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-description {
  margin-top: 12px;
  padding: 24px 44px;
  border: 1px solid #000;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

@media screen and (max-width: 1170px) {
  .support-accordions,
  .accordion-header {
    max-width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .support-accordions,
  .accordion-header {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .accordion-header {
    padding: 5px 20px;
  }
  .accordion-title {
    font-size: var(--h4-mob-font-size);
  }

  .accordion-description {
    padding: 12px 12px;
  }
}
