.feedback-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  width: 461px;
  max-width: 100%;
  margin-bottom: 9px;
}

.feedback-form input,
.feedback-form textarea {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  -webkit-border-radius: var(--input-border-radius);
  -moz-border-radius: var(--input-border-radius);
  -ms-border-radius: var(--input-border-radius);
  -o-border-radius: var(--input-border-radius);
}

.feedback-form textarea {
  margin-bottom: 0;
  min-height: 169px;
  height: 100%;
}

.feedback-form input[placeholder],
.feedback-form textarea[placeholder] {
  font-family: var(--body-text-font-family);
  font-size: var(--body2-font-size);
  line-height: var(--body2-line-height);
  font-style: normal;
  font-weight: 500;
  color: var(--input-placeholder-color);
  padding: var(--input-padding);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: var(--input-border-focus);
}

input.invalid {
  border: var(--input-error-border);
}

/* input.success {
  border: var(--input-success-border);
} */

.feedback-button {
  font-family: var(--body-text-font-family);
  font-size: var(--button-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--button-line-height);
  margin-top: 20px;
  padding: 12px 51px;
  align-self: flex-start;
}

.input-error {
  color: var(--input-error-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
}

.feedback-button:disabled,
.feedback-button:disabled:hover,
.feedback-button:disabled:active {
  background-color: #ccc;
  color: rgb(76, 75, 75);
  border-color: #ccc;
  cursor: not-allowed;
}

@keyframes slide-top {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 25%;
  }

  50% {
    transform: translateY(-20px) translateX(-50%);
  }

  100% {
    transform: translateY(-10px) translateX(-50%);
  }
}

.notification {
  position: absolute;
  bottom: 60%;
  right: -50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--button-hover-bg-color);
  color: #fff;
  border-radius: 14px;
  z-index: 9999;
  animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.feedback-button {
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);

  cursor: pointer;
  transition: all 0.8s ease;

  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-default-bg-color);
}

.feedback-button:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}

.feedback-button:active {
  border-color: var(--button-pressing-border-color);
  background-color: var(--button-pressing-bg-color);
}