.features {
  padding-top: 80px;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
}

.features-top {
  display: flex;
}

.features-bottom {
  width: 100%;
  padding-top: 90px;
}

.features-img-wrapper,
.features-text-wrapper {
  width: 50%;
}

.features-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features-title {
  font-family: var(--heading-text-font-family);
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: #252525;
  margin-bottom: 20px;
  line-height: var(--h2-line-height);
}

.features-text {
  font-size: var(--body1-font-size);
  line-height: var(--body1-line-height);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.features-text-top {
  padding-left: 70px;
}

.features-text-bottom {
  padding-right: 60px;
  display: block;
  width: 100%;
}

.features-btn {
  margin-top: 20px;
  padding: 12px 49px;
  display: flex;
  justify-content: center;
}

.features-img {
  transition: transform 0.4s ease;
}

.features-img:hover {
  transform: scale(1.05);
}

.features-img-mobile {
  display: none;
}

.features-img-float {
  float: right;
  margin-left: 100px;
  margin-top: -74px;
  position: relative;
  bottom: 30px;
}

.features-title-float {
  margin-top: 5px;
}

.features-text-float {
  width: 100%;
  transition: 'all 1s ease';
}

.features-arrow {
  display: none;
}

@media (max-width: 1048px) {
  .features-img-float {
    margin-left: 0;
  }
}

@media (max-width: 980px) {
  .features-img {
    width: 84%;
  }

  .features-text-top {
    padding-left: 10px;
  }

  .features-img-float {
    width: 42%;
    bottom: 0;
    margin-top: 0;
  }

  .features-bottom {
    padding-top: 44px;
  }
}

@media (max-width: 769px) {
  .features-title {
    font-size: var(--h5-font-size);
  }

  .features-text {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .features-top {
    width: 100%;
  }

  .features-text-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .features-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .features-text {
    font-size: 16px;
  }

  .features-img-wrapper {
    display: none;
  }

  .features-img-mobile {
    display: block;
  }

  .features-img-float {
    display: none;
  }

  .features-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .features-title-float {
    width: 56%;
  }

  .features-btn {
    width: 100%;
  }

  .features-arrow {
    display: block;
  }
}

@media (max-width: 490px) {
  .features-title {
    line-height: 30px;
  }

  .features-title-top {
    width: 59%;
  }
}

@media (max-width: 426px) {
  .features-title {
    font-size: 24px;
  }

  .features-text {
    font-size: 16px;
    line-height: 30px;
  }
}
