:root {
  --section-padding-primary: 80px 0;
  --bg-primary-color: #fff;
  --text-primary-color: #000;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --header-primary-bg-color: #F2F7FF;
  --header-secondary-bg-color: #10316B;
  --header-font-size: 19px;
  --header-line-height: 26.2px;
  --header-text-font-family: medium, sans-serif;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --footer-primary-bg-color: #10316B;
  --footer-primary-text-color: #fff;
  --footer-font-size: 14px;
  --footer-line-height: 19.3px;
  --footer-padding-primary: 22px 0;
  --footer-text-font-family: medium, sans-serif;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --button-default-bg-color: #0057B7;
  --button-hover-bg-color: #0057b733;
  --button-border-color: #0057B7;
  --button-hover-border-color: #0057B7;
  --button-pressing-bg-color: #10316B;
  --button-pressing-border-color: #10316B;
  --button-text-color: #fff;
  --button-border-radius: 14px;
  --button-line-height: 26.2px;
  --button-font-size: 19px;
  --button-font-family: semibold, sans-serif;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --phone-default-text-color: #3F3F3F;
  --phone-hover-text-color: #0057B7;
  --phone-pressing-text-color: #10316B;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --heading-text-font-family: semibold, sans-serif;
  --h1-font-size: 45px;
  --h1-line-height: 61.1px;
  --h2-font-size: 40px;
  --h2-line-height: 55.2px;
  --h3-font-size: 35px;
  --h3-line-height: 48.3px;
  --h4-font-size: 32px;
  --h4-line-height: 44.2px;
  --h5-font-size: 30px;
  --h5-line-height: 41.4px;
  --h6-font-size: 25px;
  --h6-line-height: 34.4px;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --body-text-font-family: medium, sans-serif;
  --body1-font-size: 24px;
  --body1-line-height: 33.1px;
  --body2-font-size: 19px;
  --body2-line-height: 26.2px;
  --body3-font-size: 16px;
  --body-line-height: 22.1px;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --select-lang-font-size: 20px;
  
  /* stylelint-disable-next-line custom-property-empty-line-before */
  --name-organization-font-family: inter, sans-serif;
  --name-organization-font-size: 17px;
  --name-organization-line-height: 20.6px;
  --name-organization-footer-font-size: 11px;

  --feedback-divider-color: #252525;

  --input-placeholder-color: #9B9B9B;
  --input-padding: 16px;
  --input-border: 1px solid #B8B8B8;
  --input-border-radius: 14px;
  --input-border-color-focus: #000;
}
