.not-found-page {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100%;
  padding-top: 161px;
}

.not-found-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 20px 10px 10px;
}

.not-found-page-img-wrapper {
  width: 60%;
  margin-bottom: 12px;
}

.not-found-page-img-wrapper img {
  width: 100%;
}

.btn-on-main {
  padding: 12px 46px;
  font-size: var(--button-font-size);
  font-weight: 600;
}
